.zoom {
  padding: 50px;
 
  transition: transform .2s; /* Animation 200px 200px*/
  width: auto;
  height: auto;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
margin: 50px;
padding: 20px;
}

*,*::after, *::before{
  box-sizing: border-box;
}
.modal{
  position: fixed;
  top:50%;
  left: 50%;
  transform:translate(-50,50%);
  transition:200ms ease-in-out;
  border:1px solid black;
  border-radius:10px;
  z-index:10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}
.modal.active{
  transform:translate(-50%,-50%)scale(0);
}
.modal-header{
padding: 10px 15px;
display:flex;
justify-content:space-between;
align-items: center;
border-bottom: 1px solid black;
}
.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-header .close-button{
  cursor:pointer;
  border:none;
  outline:none;
  background:none  ;
  font-size: 1.25rem;
  font-weight:bold;
}
.modal-body {
  padding: 10px 15px;
}
#overlary{
  position:fixed;
  top:0;
  right: 0;
  transition: 200ms ease-in-out;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;

}
#overlay .active{
  opacity: 1;
pointer-events: all;

}
