
.bg-modal{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
   width: 500px;
   height:300px;
   background-color: white;     
    opacity:1 ;
    border-radius:4px;
    text-align: center;
    padding: 20px;
    display:none;  
}
input{
  width: 50%;
  display: block;
  margin:15px auto;
}
.tamanho{
  width:50%;
display: block;
padding: 20px;
  justify-content: center;
  align-items: center;
 
}
.close{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform:rotate(45deg);
  cursor: pointer;
}